.footer__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 92px 48px 24px;
}

@media screen and (max-width: 1024px) {
  .footer__nav {
    padding: 92px 48px 24px;
  }
}

@media screen and (max-width: 768px) {
  .footer__nav {
    padding: 88px 24px 24px;
  }
}

@media screen and (max-width: 425px) {
  .footer__nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 64px 118px 24px 16px;
    margin: 0 auto;
    width: 186px;
    height: 310px;
  }
}
