.footer__item {
  padding-right: 18px;
}

.footer__item:last-of-type {
  padding-right: 0;
}

@media screen and (max-width: 425px) {
  .footer__item {
    align-self: flex-start;
    font-size: 24px;
    line-height: 100%;
    margin: 0;
    margin-bottom: 32px;
  }
  .footer__item:last-of-type {
    margin-bottom: 48px;
  }
}
