.photo-grid__items {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, minmax(284px, 1fr));
  gap: 16px;
  justify-content: center;
}

@media screen and (max-width: 1279px) {
  .photo-grid__items {
    margin: 0 48px;
    grid-template-columns: repeat(3, 300px);
    gap: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid__items {
    margin: 0 24px;
    grid-template-columns: repeat(2, 352px);
    gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid__items {
    margin: 0 16px;
    grid-template-columns: minmax(288px, 1fr);
    gap: 12px;
  }
}
