.place {
  max-width: 984px;
  margin: 0 0 80px 0;
  display: grid;
  gap: 48px 40px;
  grid-template-columns: 2fr;
  grid-template-rows: 3fr;
  grid-template-areas:
    'place__title place__website'
    'place__image place__paragraphs'
    'place__image place__paragraphs';
}

.place:last-of-type {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    gap: 48px 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    gap: 48px 28px;
    margin-bottom: 73px;
  }
}

@media screen and (max-width: 425px) {
  .place {
    margin-bottom: 18px;
    gap: 32px;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr;
    grid-template-areas:
      'place__title'
      'place__website'
      'place__image'
      'place__image'
      'place__paragraphs'
      'place__paragraphs';
  }
}
